We need to train our skillset.

#Run these in terminal:
> - To activate a conda environment
  > - '$ conda activate myenv'
> - To deactivate an active environment, use
 > - '$ conda deactivate'


-  Now, install the packages
'pip install pandas'
'pip install yfinance'
'pip install openml'

In [10]:
import csv
import pandas as pd 
# Import yfinance
import yfinance as yf
import openml
import random as rm
import matplotlib.pyplot as plt
%matplotlib inline

Matplotlib is building the font cache; this may take a moment.
Fontconfig warning: ignoring UTF-8: not a valid region tag


 List all datasets and their properties
openml.datasets.list_datasets(output_format="dataframe")

 Get dataset by ID
dataset = openml.datasets.get_dataset(61)

 Get dataset by name
dataset = openml.datasets.get_dataset('Fashion-MNIST')

 Get the data itself as a dataframe (or otherwise)
X, y, _, _ = dataset.get_data(dataset_format="dataframe")

In [11]:
openml.datasets.list_datasets(output_format="dataframe")

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
2,2,anneal,1,1,active,ARFF,684.0,7.0,8.0,5.0,39.0,898.0,898.0,22175.0,6.0,33.0
3,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
4,4,labor,1,1,active,ARFF,37.0,3.0,20.0,2.0,17.0,57.0,56.0,326.0,8.0,9.0
5,5,arrhythmia,1,1,active,ARFF,245.0,13.0,2.0,13.0,280.0,452.0,384.0,408.0,206.0,74.0
6,6,letter,1,1,active,ARFF,813.0,26.0,734.0,26.0,17.0,20000.0,0.0,0.0,16.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44790,44790,KDDCup09-Upselling_seed_2_nrows_2000_nclasses_...,1,32840,active,arff,1853.0,NaN,147.0,2.0,101.0,2000.0,2000.0,5914.0,100.0,1.0
44791,44791,KDDCup09-Upselling_seed_3_nrows_2000_nclasses_...,1,32840,active,arff,1853.0,NaN,147.0,2.0,101.0,2000.0,0.0,0.0,100.0,1.0
44792,44792,KDDCup09-Upselling_seed_4_nrows_2000_nclasses_...,1,32840,active,arff,1853.0,NaN,147.0,2.0,101.0,2000.0,2000.0,9426.0,98.0,3.0
44793,44793,ECG5000,1,32797,active,arff,NaN,NaN,NaN,0.0,141.0,4998.0,0.0,0.0,141.0,0.0
44794,44794,ECG5000,2,32797,active,arff,NaN,NaN,NaN,0.0,141.0,4998.0,0.0,0.0,141.0,0.0

In [12]:
# Get dataset by ID
dataset = openml.datasets.get_dataset(24)

In [13]:
print(type(dataset))

<class 'openml.datasets.dataset.OpenMLDataset'>

In [ ]:
# Set the ticker as MSFT
msft = yf.Ticker("MSFT")

In [ ]:
# get price to book
pb = msft.info['priceToBook']
pe = msft.info['regularMarketPrice']/msft.info['trailingEps']
print('Price to Book Ratio is: %.2f' % pb)
print('Price to Earnings Ratio is: %.2f' % pe)

In [ ]:
# show revenues
revenue = msft.financials.loc['Total Revenue']
plt.bar(revenue.index, revenue.values)
plt.ylabel("Total Revenues")
plt.show()

In [ ]:
EBIT = msft.financials.loc['Earnings Before Interest and Taxes']
plt.bar(EBIT.index, EBIT.values)
plt.ylabel("EBIT")
plt.show()

In [ ]:
# show income statement
msft.financials
# show balance heet
msft.balance_sheet
# show cashflow
msft.cashflow
# show other info
msft.info